#popin{
  z-index:9999;
  position : fixed;
  bottom : 1%;
  right : 1%;
  height : 50px;
  width : 100px;
  border : #000000 1px solid;
}

.popin__background{
  background : #fff;
  width:100%;
  height:100%;
}

.popin__button{
  background : #ccc;
  float:right;
  margin:5px;
  width:10px;
  height:10px;
}

.popin__screen{
  width:80%;
  height:80%;
}

.popin__resizer{
  background : #08f;
  width:5px;
  height:5px;
  position: absolute;
  display:none;
}

.popin__resizer--tl{
  top:-3px;
  left:-3px;
}
.popin__resizer--tr{
  top:-3px;
  right:-3px;
}
.popin__resizer--bl{
  bottom:-3px;
  left:-3px;
}
.popin__resizer--br{
  bottom:-3px;
  right:-3px;
}
