#popin{
  position : fixed;
  bottom : 1%;
  right : 1%;
  height : 50px;
  width : 100px;
  border : #000000 1px solid;
}

.popin__background{
  background : #fff;
  width:100%;
  height:100%;
}

.popin__button{
  background : #ccc;
  float:right;
  margin:5px;
  width:10px;
  height:10px;
}

.popin__screen{
  width:80%;
  height:80%;
}
