/*
Include images :
background: url("chrome-extension://__MSG_@@extension_id__/img/right.png");

*/

#popin{
  z-index:9999;
  position : fixed;
  bottom : 20px;
  right : 20px;
  height : 50px;
  width : 100px;
  border : 1px solid;
  border-color : #000;
  background : #fff;
}

.popin__button{
  background: #ccc;
  width: 10px;
  height: 10px;
  float: right;
  margin: 5px;
  text-align: center;
  vertical-align: middle;
}
