/* size 58 x 41 cm */
/* screen 32 x 16 px */
/* 32 64 96 */
/* 16 32 48 */
/* 1pxmon = 4px menu */
#resize{
	width:10px;
	height:10px;
	background:#333;
	bottom:0px;
	left:0px;
	position:absolute;
}
.js_username{
  top:0;
  right:5;
  position:absolute;
  z-index:1;
  text-decoration:none;
  color:black;
}
.opa{
  opacity : 0.1;
}
#date{
  bottom : -10px;
  left : 5px;
  position : absolute;
  z-index: 1;
}
#testMessage{
    bottom: -10px;
    right: 5px;
    position: absolute;
    z-index: 1;
}
#digivice{
  position:absolute;
  margin:0;
  padding:0;
  background:#ccc;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:0;
}
#screen{
  position:absolute;
/*   top:15px; */
/*   left:15px; */
  background: url("../img/background.png");
}
.menu{
  position:absolute;
  display:flex;
}
.inscreen{
  position:absolute;
  background:rgba(0,0,0,0.2);
}
.menu div{
  margin:auto;
  float:left;
  text-align:center;
  opacity : 0.4;
}
.menu .selected{
  background:rgba(255,255,255,0.2);
  opacity : 1;
}
.button{
  position:absolute;
  background:rgba(255,255,255,0.1);
}
body{
	background : #ccc;
}
/* x1 */
body.s1{
	font-size : 5px;
	width : 37px;
	height : 37px;
	margin : 0 0 5px 5px;
}
.s1 #screen{
	width : 32px;
	height : 32px;
	top : 5px;
	left : 5px;
	background-size : 32px 32px;
}
.s1 .menu{
	width : 32px;
	height : 8px;
}
.s1 .inscreen{
	width : 32px;
	height : 16px;
	top : 8px;
}
.s1 .menu div{
	width : 8px;
	height : 8px;
}
.s1 .menu.bottom{
	top : 24px;
}
/* x2 */
body.s2{
	font-size : 10px;
	width : 74px;
	height : 74px;
	margin : 0 0 10px 10px;
}
.s2 #screen{
	width : 64px;
	height : 64px;
	top : 10px;
	left : 10px;
	background-size : 64px 64px;
}
.s2 .menu{
	width : 64px;
	height : 16px;
}
.s2 .inscreen{
	width : 64px;
	height : 32px;
	top : 16px;
}
.s2 .menu div{
	width : 16px;
	height : 16px;
}
.s2 .menu.bottom{
	top : 48px;
}
/* x3 */
body.s3{
	font-size : 15px;
	width : 111px;
	height : 111px;
	margin : 0 0 15px 15px;
}
.s3 #screen{
	width : 96px;
	height : 96px;
	top : 15px;
	left : 15px;
	background-size : 96px 96px;
}
.s3 .menu{
	width : 96px;
	height : 24px;
}
.s3 .inscreen{
	width : 96px;
	height : 48px;
	top : 24px;
}
.s3 .menu div{
	width : 24px;
	height : 24px;
}
.s3 .menu.bottom{
	top : 72px;
}
/* x4 */
body.s4{
	font-size : 20px;
	width : 148px;
	height : 148px;
	margin : 0 0 20px 20px;
}
.s4 #screen{
	width : 128px;
	height : 128px;
	top : 20px;
	left : 20px;
	background-size : 128px 128px;
}
.s4 .menu{
	width : 128px;
	height : 32px;
}
.s4 .inscreen{
	width : 128px;
	height : 64px;
	top : 32px;
}
.s4 .menu div{
	width : 32px;
	height : 32px;
}
.s4 .menu.bottom{
	top : 96px;
}
.s4 #mon{
  width : 64px
  height : 64px;
}
/* menu icons */
#stats{
	background : url("../img/stats.png") no-repeat center;
}
#food{
	background : url("../img/food.png") no-repeat center;
}
#train{
	background : url("../img/train.png") no-repeat center;
}
#battle{
	background : url("../img/battle.png") no-repeat center;
}
#clean{
	background : url("../img/clean.png") no-repeat center;
}
#light{
	background : url("../img/light.png") no-repeat center;
}
#heal{
	background : url("../img/heal.png") no-repeat center;
}
#album{
	background : url("../img/album.png") no-repeat center;
}
#connection{
	background : url("../img/connect.png") no-repeat center;
}
#call{
	background : url("../img/call.png") no-repeat center;
}
